[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "3rdparty/tencentcloud-sdk-cpp"]
	path = 3rdparty/tencentcloud-sdk-cpp
	url = https://github.com/TencentCloud/tencentcloud-sdk-cpp
